bamboo-ut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="project" type="projectType"/>
    <xs:complexType name="argType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="line" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="execType">
        <xs:sequence>
            <xs:element type="argType" name="arg"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="dir" use="optional"/>
        <xs:attribute type="xs:string" name="executable" use="optional"/>
        <xs:attribute type="xs:string" name="failonerror" use="optional"/>
    </xs:complexType>
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element type="targetType" name="target" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="default"/>
    </xs:complexType>
    <xs:complexType name="mkdirType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="dir" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="targetType">
        <xs:sequence>
            <xs:element type="deleteType" name="delete" minOccurs="0"/>
            <xs:element type="mkdirType" name="mkdir" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="execType" name="exec" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="deleteType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="dir"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>